*{
/* configuraciones generales para la pagina */

/*sirve para quitar el espaciado*/
    margin: unset;
    padding: unset;
    outline: unset; /*sirve para quitar el borde de los formularios*/
    border: unset; /*sirve para quitar los bordes*/

    box-sizing: border-box; /*hace que no crezca la caja asi se le aplique el margin y el padding*/
    /* display: block; */ 

    list-style: none; /*sirve para quitar los puntos de las listas*/
    text-decoration: none; /*sirve para quitar las lineas debajo de los link*/

    font-size: 1rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar__nav{

    display: flex; /*es el predeterminado, existe el flex-direction row y el columns (filas y columnas)*/
    
    align-items: center;
    justify-content: space-between; /*sirve para distribuir el espacio entre elementos*/

    padding: 15px 60px;

    

}

.navbar__nav__list{

    display: flex;
    gap: 35px;

}

.main__section__container {

    /*display: flex
    align-items: start;*/

    display: grid; /*El grid sirve para crear cuadrillas*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*Esto sirve para decir cuantas columnas habran y la formula que nunca cambia, fill rellena el espacio vacio y el fit ajusta los espacios*/

    gap: 12px; /*Espacio entre los elementos*/
    padding: 15px 60px;

}

.main__section__container__card{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    text-align: center;

}

.main__section__container__card > img {

    height: 60px;

}